<header class="head">
  <h3> Plateforme Gestion Risque Crédit</h3>
</header>
<div class= "row custom-row">
  <div class= "col-sm-5 custom-container jumbotron">

    <form class="form-horizontal">
        <fieldset class="for">
        <legend style="text-align: center; size: 40px;">Remplir formulaire </legend>
        <div class="form-group">
          <label for="select">Genre</label>
            <select class="selec" id="select">
              <option>Male</option>
              <option>Femme</option>
              <option>autre</option>
            </select>
        </div>


         <div>
          <label for="n1">Quel est votre âge ?</label>
          <input class="selec" type="number" min="18" max="120" step="1" id="n1" name="age"
                 pattern="\d+">
                </div>

            <div class="form-group">

                <label for="select">Avez vous une maison?</label>
                  <select class="selec" id="select">
                    <option>Oui</option>
                    <option>Non</option>
                    <option>Autre</option>
                  </select>

            </div>

            <div class="form-group" >
              <label for="select">Avez vous une voiture?</label>
                <select class="selec" id="select">
                  <option>Oui</option>
                  <option>Non</option>
                </select>
                </div>
                <div>
                  <label for="n1">Combien les membres de votre famille ?</label>
    <input class="selec" type="number" min="1" max="120" step="1" id="n1" name="famille"
           pattern="\d+">
                </div>
<div>
                <p >Est-ce que vous avez un travail ?</p>

                <div class="selec" style="margin-left: 20px;">
                  <input type="radio" id="travail" name="travail" value="travail"
                         checked>
                  <label for="travail">Oui</label>
                </div>
                <div style="margin-left: 20px;">
                  <input type="radio" id="pastravail" name="pastravail" value="pastravail">
                  <label for="pastravail">Non</label>
                </div>
              </div>
              <div>


                <label for="n1">Si vous travaillez, Combien votre revenu annuel ?</label>
                <input class="selec" type="number" min="1" max="100000000000000" step="1" id="n1" name="famille"
                       pattern="\d+">

       </div>




            <div class="form-groupp" >
                <button type="reset" class="btn btn-default" routerLinkActive="active" routerLink="risk">Annuler</button>
                <button type="button" class="btn btn-primary" >Prédir</button>
            </div>
        </fieldset>
    </form>
  </div>
</div>
