.selec{
  margin-left: 30px;
  margin-top: 30px;
  width:200px;
  height:30px;

}
.form-group{
  margin-top: 30px;

}
.for{
  background-color: #ebd9d9;

}
.form-groupp{
  text-align: center;
  padding-top: 40px;


}
.head{
  text-align: center;
}

